*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer{
    text-align: center;
}
footer{
    font-weight: 300;
    color: grey;
}
footer span{
    font-weight: 700;
    color: midnightblue;
}